* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  color: rgb(36, 36, 36);
}

.app-wrapper {
  background-color: rgb(10, 126, 172);
  width: 100%;
}

/* Nav section */

.nav-logo {
  width: 50px;
  height: 50px;
  margin-right: 3%;
}

.main-name {
  font-family: 'Overlock', cursive;
  font-weight: 700;
  font-style: italic;
  font-size: 2.2rem;
}

.main-name-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background: rgb(101, 177, 200);
}

.nav-column-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(42, 136, 213);
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  padding-top: 10px;
  padding-bottom: 30px;
}

.nav-button {
  font-weight: 300;
  width: 100%;
  font-size: 1.3rem;
  margin-top: 20px;
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.665);
  border: none;
  padding: 8px;
  background-color: #929494;
  transition: 0.1s;
}

.nav-button:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(119, 127, 124);
  transition: 0.1s;
}




/* Body section */

.body-wrapper {
  background-color: rgb(101, 177, 200);
  padding-bottom: 20px;
}

.topic-wrapper {
  background-color: rgb(101, 177, 200);
}

.topic-title {
  padding-top: 50px;
  padding-bottom: 10px;
  font-size: 1.8rem;
  text-align: center;
  font-weight: 500;
}

hr {
  height: 1px;
  background-color: rgb(0, 0, 0);
  border: none;
}

.topic-paragraph {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  padding: 10px 20px 30px 20px;
}

.topic-ul {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  list-style-type: none;
}

.last-project {
  margin-bottom: 0 !important;
}

/* li:before {
  content: '';
  display: inline-block;
  height: 30px;
  width: 30px;
  background-size: 30px;
  background-image: url("./assets/grad-cap.svg");
  background-repeat: no-repeat;
  margin-right: 10px;
  margin-bottom: -9px;
} */

.topic-paragraph-ul {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  padding: 10px 43px 30px 43px;
}

.react-icons {
  font-size: 3.5rem;
  display: block;
  margin: auto;
}

.icon-block {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: auto;
}

.project-button {
  padding: 10px;
  height: 90px;
  width: 100%;
  font-size: 1.1rem;
  border: none;
  border-radius: 8px;
  transition: 0.1s;
  background-color: #e0e0e0;
  margin: 5px;
}

.project-button:hover {
  background-color: #bdecff;
  cursor: pointer;
  transition: 0.1s;
}

.top {
  margin-top: 20px;
}

.bottom {
  margin-bottom: 20px;
}

.grad {
  width: 40%;
}

li{
  align-items: center;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  margin: 0;
}

/* .grad-cap {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
} */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #bdecff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.blurb-buttons-wrapper {
  margin-top: 10px;
  width: calc(100% - 5px);
  display: flex;
}

.blurb-wrapper {
  background-color: rgb(42, 136, 213);
  padding: 10px;
  border-radius: 5px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blurb-description {
  font-weight: 400;
  text-align:left;
  padding: 10px;
}

.description-bullet {
  margin: 5px 30px 5px 30px;
  font-weight: 500;
}

.intro {
  text-align: center;
}

.project-button-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Footer */

.footer-wrapper {
  height: 1000vh;
}

@media only screen and (min-width: 600px) {
  .project-button {
    height: 70px;
  }
}

@media only screen and (min-width: 1000px) {
  .app-wrapper {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-rows: 1fr 8fr;
    grid-template-columns: 1fr 14fr;
    grid-template-areas:
      "nav main"
      "nav body";
  }
  .main-name-wrapper {
    height: 100%;
    background-color: rgb(10, 126, 172);
    grid-area: main;
  }
  .nav-column-wrapper {
    justify-content: center;
    grid-area: nav;
  }
  .nav-button {
    margin-top: 80px;
    padding: 40px 0px 40px 0px
  }
  .button-wrapper {
    display: none;
  }
  .body-wrapper {
    overflow-y: scroll;
    grid-area: body;
  }
  .project-blurbs-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .blurb-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: left;
  }
  .project-button {
    height: auto;
  }
  .center {
    width: 30%;
  }
  .last-project {
    margin-bottom: 20px !important;
  }
  .body-wrapper {
    padding-bottom: 20px;
  }
}